.produtos {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 2rem;
}

.titulo {
    margin-top: 1.5rem;
}

.produtos__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}