.banner {
  margin-top: -5px;
  position: relative;
  width: 100%;
}

.voltar,
.avancar {
  position: absolute;
  cursor: pointer;
}

.voltar {
  left: 40px;
  top: 50%;
}
.avancar {
  right: 40px;
  top: 50%;
}

@media (min-width: 660px) {
  .banner {
    margin-top: 0;
  }
}

@media (min-width: 1440px) {
  .banner {
  }
}
